<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dep001</key>
	<array>
		<string>计算机科学与技术</string>
		<string>网络工程</string>
		<string>软件工程</string>
	</array>
	<key>dep002</key>
	<array>
		<string>纺织工程</string>
		<string>轻化工程</string>
	</array>
	<key>dep003</key>
	<array>
		<string>建筑环境与设备工程</string>
		<string>热能与动力工程</string>
		<string>安全工程</string>
		<string>环境工程</string>
		<string>给水与排水工程</string>
	</array>
	<key>dep004</key>
	<array>
		<string>机械制造及其自动化</string>
		<string>工业设计</string>
		<string>车辆工程</string>
		<string>机械设计</string>
	</array>
	<key>dep005</key>
	<array>
		<string>电子信息</string>
		<string>自动化</string>
		<string>电器工程及其自动化</string>
		<string>测控技术与仪器</string>
		<string>通讯工程</string>
	</array>
	<key>dep006</key>
	<array>
		<string>材料成型及控制工程</string>
		<string>材料科学与工程</string>
		<string>应用化学</string>
		<string>高分子材料与工程</string>
	</array>
	<key>dep007</key>
	<array>
		<string>土木工程</string>
		<string>建筑学</string>
		<string>工程管理</string>
	</array>
	<key>dep008</key>
	<array>
		<string>服装设计</string>
	</array>
	<key>dep009</key>
	<array>
		<string>环境设计</string>
		<string>视觉传达设计</string>
		<string>摄影</string>
		<string>动画</string>
	</array>
	<key>dep010</key>
	<array>
		<string>工商管理</string>
		<string>工程造价</string>
		<string>公共事业管理</string>
		<string>市场营销</string>
		<string>会计学</string>
		<string>信息管理与信息系统</string>
	</array>
	<key>dep011</key>
	<array>
		<string>播音与主持艺术</string>
		<string>广播电视新闻</string>
		<string>广播电视编导</string>
	</array>
</dict>
</plist>
